[submodule "client_side"]
	path = client_side
	url = git@github.com:Stvchm9703/IDCT-Proj-Unity.git
[submodule "server_side"]
	path = server_side
	url = git@github.com:Stvchm9703/IDCT-Proj-Svr.git
	branch = v2
[submodule "client_build"]
	path = client_build
	url = https://github.com/Stvchm9703/IDCT-Unity-Android
